<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>admin - Politico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
    
<body id="body">
        <header class="header1">
                <div class="header-links" id="header__div">
                  <a class="header_link header-logo" href="logged.html"><span id="politico">Politico</span></a>
                  <span class="header-right">
                    <a class="header__link" href="logged.html">HOME</a>
                    <a class="header__link" href="profile.html">PROFILE</a>
                    <a class="header__link" href="../index.html">LOGOUT</a>
                    <a href="javascript:void(0);" onclick="toggleMenu()" class="header__menu-icon">&#9776;</a>
                  </span>
                </div>
        </header>
    
        <div class="profile-pa-container">
                        <div class="user-recent-question-container">
                            <h2 class="profile-container--h2">APGA</h2>
                            <div class="user-recent-question">
                            <div class="unordered-list">
                                <ul>
                                    <lI id="partie">ALL PROGRESSIVE GRAND ALLIANCE</lI><br>
                                    <img src="../public/images/apga.jpg" class="party_logo">
                                    <lI><span id="partie">Chairman - </span><span>Victor Ike Oye</span></lI><br>
                                    <lI><span id="partie">Founded - </span><span>2003</span></lI><br>
                                    <lI><span id="partie">Headquarters - </span><span>Abuja</span></lI><br>
                                    <lI><span><button class="form-d" type="submit">Edit</button></span> 
                                        <span><button class="form-e" type="submit">Delete</button></span></lI>
                                </ul>
                            </div>
                            
                        </div>
                            
                            
                        </div>
                        
                        <div class="user-recent-question-container">
                            <h2 class="profile-containerh2">ANN</h2>
                            
                            <div class="user-recent-question">
                                    <div class="unordered-list">
                                            <ul>
                                                <lI id="partie">ALLIANCE FOR NEW NIGERIA</lI><br>
                                                <img src="../public/images/ann.jpg" class="party_logo1">
                                                <lI><span id="partie">Chairman - </span><span>Emmanuel Dania</span></lI><br>
                                                <lI><span id="partie">Founded - </span><span>2017</span></lI><br>
                                                <lI><span id="partie">Headquarters - </span><span>Abuja</span></lI><br>
                                                <lI><span><button class="form-d" type="submit">Edit</button></span> 
                                                    <span><button class="form-e" type="submit">Delete</button></span></lI>
                                            </ul>
                                        </div>
                           
                        </div>
                        </div>
        
                        <div class="user-recent-question-container">
                                <h2 class="profile-container-h2">APC</h2>
                                <div class="user-recent-question">
                                <div class="unordered-list">
                                    <ul>
                                        <lI id="partie">ALL PROGRESSIVES CONGRESS</lI><br>
                                        <img src="../public/images/apc.png" class="party_logo2">
                                        <lI><span id="partie">Chairman - </span><span>Adams Oshiomole</span></lI><br>
                                        <lI><span id="partie">Founded - </span><span>2013</span></lI><br>
                                        <lI><span id="partie">Headquarters - </span><span>Abuja</span></lI><br>
                                        <lI><span><button class="form-d" type="submit">Edit</button></span> 
                                            <span><button class="form-e" type="submit">Delete</button></span></lI>
                                    </ul>
                                </div>
                                
                            </div>
                                
                                
                            </div>
                            
                            <div class="user-recent-question-container">
                                <h2 class="profile-containerh12">PDP</h2>
                                
                                <div class="user-recent-question">
                                        <div class="unordered-list">
                                                <ul>
                                                    <lI id="partie">PEOPLE'S DEMOCRATIC PARTY</lI><br>
                                                    <img src="../public/images/pdp.jpg" class="party_logo3">
                                                    <lI><span id="partie">Chairman - </span><span>Uche Secondus</span></lI><br>
                                                    <lI><span id="partie">Founded - </span><span>1998</span></lI><br>
                                                    <lI><span id="partie">Headquarters - </span><span>Abuja</span></lI><br>
                                                    <lI><span><button class="form-d" type="submit">Edit</button></span> 
                                                        <span><button class="form-e" type="submit">Delete</button></span></lI>
                                                </ul>
                                            </div>
                               
                            </div>
                            <button class="form-admin"><a href="new_party.html"><span class="form-admin-a">Create new party</span></a></button>
                            </div>
                    </div>

                    <hr>

                <div class="profile-za-container">
                            <div>                                
                                <div>
                                        <div></div>
                               </div>
                            </div>

                            <div class="user-popular-questions-container-office">
                                        <h2 class="profile-container__h2">Offices</h2>
                                        
                                        <div class="user-popular-question">
                                                <div class="unordered-list">
                                                        <ul>
                                                            <lI>Presidency
                                                                    <span><button class="form-b" type="submit">Delete</button></span> 
                                                                    <span><button class="form-c" type="submit">Edit</button></span>
                                                            </lI><br>
                                                            <lI>Governor
                                                                    <span><button class="form-b" type="submit">Delete</button></span> 
                                                                    <span><button class="form-c" type="submit">Edit</button></span>
                                                            </lI><br>
                                                            <lI>House of Assembly
                                                                    <span><button class="form-b" type="submit">Delete</button></span> 
                                                                    <span><button class="form-c" type="submit">Edit</button></span>
                                                            </lI><br>
                                                            <lI>L.G.A
                                                                    <span><button class="form-b" type="submit">Delete</button></span> 
                                                                    <span><button class="form-c" type="submit">Edit</button></span>
                                                            </lI><br>
                                                            <lI>
                                                                    <a href="new_office.html"><span id="create_office">Create new office</span></a>
                                                             </lI>
                                                        </ul>
                                                    </div>
                                       
                                    </div>
                                </div>
                </div>

                                    

                
    <div id="footer_logged_admin">
            &copy; Copyright 2019
    </div>

<script src="js/toggle.js"></script>
</body>
</html>