<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Politico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
    
<body id="body">
        <header class="header1">
                <div class="header-links" id="header__div">
                  <a class="header_link header-logo" href="landing.html"><span id="politico">Politico</span></a>
                  <span class="header-right">
                    <a class="header__link" href="landing.html">HOME</a>
                    <a class="header__link" href="signup.html">PROFILE</a>
                    <a class="header__link" href="signin.html">LOGOUT</a>
                    <a href="javascript:void(0);" onclick="toggleMenu()" class="header__menu-icon">&#9776;</a>
                  </span>
                </div>
        </header>
    
        <div class="profile-la-admin-container">
                <div class="user-recent-question-container">
                    <h2 class="profile-container__h2">Parties</h2>
                    <div class="user-recent-question">
                    <div class="unordered-list">
                        <ul>
                            <lI>APC <span><button class="form-b" type="submit">Delete</button></span> 
                                    <span><button class="form-c" type="submit">Edit</button></span>
                            </lI><br>
                            <lI>PDP <span><button class="form-b" type="submit">Delete</button></span> 
                                   <span><button class="form-c" type="submit">Edit</button></span>
                            </lI><br>
                            <lI>APGA <span><button class="form-b" type="submit">Delete</button></span> 
                                <span><button class="form-c" type="submit">Edit</button></span>
                            </lI><br>
                            <lI>ADC <span><button class="form-b" type="submit">Delete</button></span> 
                                    <span><button class="form-c" type="submit">Edit</button></span>
                            </lI><br>
                            <lI>
                                <a href="new_party.html">Create new party</a>
                            </lI>
                        </ul>
                    </div>
                    
                </div>
                    
                    
                </div>
                
                <div class="user-popular-questions-container">
                    <h2 class="profile-container__h2">Offices</h2>
                    
                    <div class="user-popular-question">
                            <div class="unordered-list">
                                    <ul>
                                        <lI>Presidency
                                                <span><button class="form-b" type="submit">Delete</button></span> 
                                                <span><button class="form-c" type="submit">Edit</button></span>
                                        </lI><br>
                                        <lI>Governor
                                                <span><button class="form-b" type="submit">Delete</button></span> 
                                                <span><button class="form-c" type="submit">Edit</button></span>
                                        </lI><br>
                                        <lI>House of Assembly
                                                <span><button class="form-b" type="submit">Delete</button></span> 
                                                <span><button class="form-c" type="submit">Edit</button></span>
                                        </lI><br>
                                        <lI>L.G.A
                                                <span><button class="form-b" type="submit">Delete</button></span> 
                                                <span><button class="form-c" type="submit">Edit</button></span>
                                        </lI><br>
                                        <lI>
                                                <a href="new_office.html">Create new office</a>
                                         </lI>
                                    </ul>
                                </div>
                   
                </div>
                </div>
            </div>

    <div id="footer_logged_admin">
            &copy; Copyright 2019.
    </div>

<script src="js/app.js"></script>
</body>
</html>