<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Politico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
    
<body id="body">
        <header class="header1">
                <div class="header-links" id="header__div">
                  <a class="header_link header-logo" href="logged.html"><span id="politico">Politico</span></a>
                  <span class="header-right">
                    <a class="header__link" href="logged.html">HOME</a>
                    <a class="header__link" href="office.html">RUN FOR OFFICE</a>
                    <a class="header__link" href="vote.html">VOTE</a>
                    <a class="header__link" href="profile.html">PROFILE</a>
                    <a class="header__link" href="../index.html">LOGOUT</a>
                    <a href="javascript:void(0);" onclick="toggleMenu()" class="header__menu-icon">&#9776;</a>
                  </span>
                </div>
        </header>
    
        <div class="profile-la-container">
                <div class="user-recent-question-container">
                    <h2 class="profile-container__h2">Parties</h2>
                    <div class="user-recent-question">
                    <div class="unordered-list">
                        <ul id="pam">
                            <lI>APC</lI><br>
                            <lI>PDP</lI><br>
                            <lI>APGA</lI><br>
                            <lI>ADC</lI><br>
                            <lI><a href="parties.html">View all parties</a></lI>
                        </ul>
                    </div>
                    
                </div>
                    
                    
                </div>
                
                <div class="user-popular-questions-container">
                    <h2 class="profile-container__h2">Offices</h2>
                    
                    <div class="user-popular-question">
                            <div class="unordered-list">
                                    <ul id="pam">
                                        <lI>Presidency</lI><br>
                                        <lI>Governor</lI><br>
                                        <lI>Senate</lI><br>
                                        <lI>House of Assembly</lI><br>
                                        <lI>L.G.A</lI>
                                    </ul>
                                </div>
                   
                </div>
                </div>
            </div>

            <div id="want">
                <h2>CANDIDATES</h2>
            </div>

            <div class="profile-ma-container">
                    <div class="user-recent-question-container">
                        <h2 class="profile-container__h2">Presidential Candidates</h2>
                        <div class="user-recent-question">
                        <div class="unordered-list">
                            <ul>
                                <lI><span id="pam">APGA</span> - Donald Duke</lI><br>
                                <lI><span id="pam">APC</span> - Muhammadu Buhari</lI><br>
                                <lI><span id="pam">PDP</span> - Atiku Abubakar</lI><br>
                                <lI><span id="pam">ANN</span> - Fela Durotoye</lI><br>
                            </ul>
                        </div>
                        
                    </div>
                        
                        
                    </div>
                    
                    <div class="user-popular-questions-container">
                        <h2 class="profile-container__h2">Lagos State Governorship Candidates</h2>
                        
                        <div class="user-popular-question">
                                <div class="unordered-list">
                                        <ul>
                                            <lI><span id="pam">APGA</span> - Harrison Obi</lI><br>
                                            <lI><span id="pam">APC</span> - Ifechukwu Ozoemena</lI><br>
                                            <lI><span id="pam">PDP</span> - Emmanuel Maduka</lI><br>
                                            <lI><span id="pam">ANN</span> - Chinedu Okoye</lI><br>
                                        </ul>
                                    </div>
                       
                    </div>
                    </div>
                </div>

                <div class="profile-ma-container">
                        <div class="user-recent-question-container">
                            <h2 class="profile-container__h2">House Of Reps Candidates</h2>
                            <div class="user-recent-question">
                            <div class="unordered-list">
                                <ul>
                                    <lI><span id="pam">APGA</span> - Orji Uzor</lI><br>
                                    <lI><span id="pam">APC</span> - Maduka Emmanuel</lI><br>
                                    <lI><span id="pam">PDP</span> - Charles Okafor</lI><br>
                                    <lI><span id="pam">ANN</span> - Akpan Albert</lI><br>
                                </ul>
                            </div>
                            
                        </div>
                            
                            
                        </div>
                        
                        <div class="user-popular-questions-container">
                            <h2 class="profile-container__h2">L.G.A Candidates</h2>
                            
                            <div class="user-popular-question">
                                    <div class="unordered-list">
                                            <ul>
                                                <lI><span id="pam">APGA</span> - Chinenye Emmanuel</lI><br>
                                                <lI><span id="pam">APC</span> - Olamide Adeboye</lI><br>
                                                <lI><span id="pam">PDP</span> - Samuel Oyedepo</lI><br>
                                                <lI><span id="pam">ANN</span> - David Alexis</lI><br>
                                            </ul>
                                        </div>
                           
                        </div>
                        </div>
                    </div>
    

    <div id="footer_logged">
            &copy; Copyright 2019
    </div>

<script src="../public/js/toggle.js"></script>
</body>
</html>