<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Politico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
    
<body id="body">
        <header class="header1">
                <div class="header-links" id="header__div">
                  <a class="header_link header-logo" href="logged.html"><span id="politico">Politico</span></a>
                  <span class="header-right">
                    <a class="header__link" href="logged.html">HOME</a>
                    <a class="header__link" href="profile.html">PROFILE</a>
                    <a class="header__link" href="../index.html">LOGOUT</a>
                    <a href="javascript:void(0);" onclick="toggleMenu()" class="header__menu-icon">&#9776;</a>
                  </span>
                </div>
        </header>
    
        <div class="profile-la-container">
                <div class="user-recent-question-container">
                    <h2 class="profile-container__h2">Parties</h2>
                    <div class="user-recent-question">
                    <div class="unordered-list">
                        <ul>
                            <lI>APC</lI><br>
                            <lI>PDP</lI><br>
                            <lI>APGA</lI><br>
                            <lI>ADC</lI><br>
                            <lI><a href="#">View all parties</a></lI>
                        </ul>
                    </div>
                    
                </div>
                    
                    
                </div>
                
                <div class="user-popular-questions-container">
                    <h2 class="profile-container__h2">Offices</h2>
                    
                    <div class="user-popular-question">
                            <div class="unordered-list">
                                    <ul>
                                        <lI>Presidency</lI><br>
                                        <lI>Governor</lI><br>
                                        <lI>Senate</lI><br>
                                        <lI>House of Assembly</lI><br>
                                        <lI>L.G.A</lI>
                                    </ul>
                                </div>
                   
                </div>
                </div>
            </div>

            <div id="want">
                <h2>Want to run for an office?</h2>
                <h3>Declare your interest <a href="#">here</a><h3>
            </div>

            <div class="profile-ma-container">
                    <div class="user-recent-question-container">
                        <h2 class="profile-container__h2">Presidential Candidates</h2>
                        <div class="user-recent-question">
                        <div class="unordered-list">
                            <ul>
                                <lI>APGA - Donald Duke</lI><br>
                                <lI>APC - Muhammadu Buhari</lI><br>
                                <lI>PDP - Atiku Abubakar</lI><br>
                                <lI>ANN - Fela Durotoye</lI><br>
                            </ul>
                        </div>
                        
                    </div>
                        
                        
                    </div>
                    
                    <div class="user-popular-questions-container">
                        <h2 class="profile-container__h2">Lagos State Governorship Candidates</h2>
                        
                        <div class="user-popular-question">
                                <div class="unordered-list">
                                        <ul>
                                            <lI>APGA - Harrison Obi</lI><br>
                                            <lI>APC - Ifechukwu Ozoemena</lI><br>
                                            <lI>PDP - Emmanuel Maduka</lI><br>
                                            <lI>ANN - Chinedu Okoye</lI><br>
                                        </ul>
                                    </div>
                       
                    </div>
                    </div>
                </div>

                <div id="want">
                        <h2>Are you eligible to vote?</h2>
                        <h3>Vote for your candidate of choice <a href="#">here</a><h3>
                    </div>

                <div class="profile-ma-container">
                        <div class="user-recent-question-container">
                            <h2 class="profile-container__h2">House Of Reps Candidates</h2>
                            <div class="user-recent-question">
                            <div class="unordered-list">
                                <ul>
                                    <lI>APGA - Orji Uzor</lI><br>
                                    <lI>APC - Maduka Emmanuel</lI><br>
                                    <lI>PDP - Charles Okafor</lI><br>
                                    <lI>ANN - Akpan Albert</lI><br>
                                </ul>
                            </div>
                            
                        </div>
                            
                            
                        </div>
                        
                        <div class="user-popular-questions-container">
                            <h2 class="profile-container__h2">L.G.A Candidates</h2>
                            
                            <div class="user-popular-question">
                                    <div class="unordered-list">
                                            <ul>
                                                <lI>APGA - Chinenye Emmanuel</lI><br>
                                                <lI>APC - Olamide Adeboye</lI><br>
                                                <lI>PDP - Samuel Oyedepo</lI><br>
                                                <lI>ANN - David Alexis</lI><br>
                                            </ul>
                                        </div>
                           
                        </div>
                        </div>
                    </div>
    

    <div id="footer_logged">
            &copy; Copyright 2018.
    </div>

<script src="js/app.js"></script>
</body>
</html>