<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Profile - Politico</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>

<body class="naija">
   <header class="header1">
      <div class="header-links" id="header__div">
        <a class="header_link header-logo" href="logged.html"><span id="politico">Politico</span></a>
        <span class="header-right">
          <a class="header__link" href="logged.html">HOME</a>
          <a class="header__link" href="../index.html">LOGOUT</a>
          <a href="javascript:void(0);" onclick="toggleMenu()" class="header__menu-icon">&#9776;</a>
        </span>
      </div>
  </header>
           <div class="profile-container" >
            
                <div class="user">
                    <img class="user-photo" src="../public/images/profile.jpg">
                    
                    
                </div>
                
            </div>
            <div class="userinfo-container">
                    <div class="user-recent-question-contains">
                            <h2 class="profile-container__h3">Jane Doe</h2>
                            <div class="user-recent-questionss">
                            <div class="unordered-list1">
                                <ul>
                                    <lI><p>Purge the Nigerian Mind, Free the Enslaved Minds</p></lI>
                                    <lI><p>Lagos, Nigeria</p></lI>
                                </ul>
                            </div>
                            
                        </div>

                        
                            
                        </div>
                        <div class="user-recent-questions1">
                                <div class="unordered-list2">
                                    <ul>
                                        <lI><p><span id="para">Career:</span><span class="follow">Accountant</span></p></lI>
                                        <li><p><span id="para">Gender:</span><span class="follow">Female</span></p></li>
                                        <lI><p><span id="para">Work:</span><span class="follow">Dozzy Oil and Gas</span></p></lI>
                                        <li><p><span id="para">School:</span><span class="follow">Madonna University, Okija, Anambra</span></p></li>
                                        <lI><p><span id="para">Interest:</span><span class="follow">Politics, Entertainment</span></p></lI>
                                        <lI><p><span id="para">Hobby:</span><span class="follow">Travelling, Reading, Swimming</span></p></lI>
                                    </ul>
                                </div>
                                
                            </div>
                            
            </div>
          
            <div class="profile-qb-container">
                <div class="user-recent-question-container">
                    <h2 class="profile-container__h2">Your votes</h2>
                    <div class="user-recent-question">
                    <div class="unordered-list">
                        <ul>
                            <lI><a href="logged.html">Presidency</a> - <a href="parties.html">APGA</a> - Donald Duke</lI><br>
                            <lI><a href="logged.html">Governorship(Lagos)</a> - <a href="parties.html">APC</a> - Ifechukwu Ozoemena</lI><br>
                            <lI><a href="logged.html">House of Reps</a> - <a href="parties.html">APC</a> - Maduka Emmanuel</lI><br>
                            <lI><a href="logged.html">L.G.A</a> - <a href="parties.html">APGA</a> - Chinenye Emmanuel</lI><br>
                        </ul>
                    </div>
                    
                </div>
                    
                    
                </div>
                
            </div>
            <div id="footer">
                &copy; Copyright 2019
            </div>
    
</body>
</html>