<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Profile - Politico</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>

<body class="naija">
   <header class="header1">
      <div class="header-links" id="header__div">
        <a class="header_link header-logo" href="logged.html"><span id="politico">Politico</span></a>
        <span class="header-right">
          <a class="header__link" href="logged.html">HOME</a>
          <a class="header__link" href="office.html">RUN FOR OFFICE</a>
          <a class="header__link" href="vote.html">VOTE</a>
          <a class="header__link" href="../index.html">LOGOUT</a>
          <a href="javascript:void(0);" onclick="toggleMenu()" class="header__menu-icon">&#9776;</a>
        </span>
      </div>
  </header>
           
  <div class="profile-lar-container">
        <div class="user-recent-question-container">
            <h2 class="profile-container__h2">Profile info</h2>
            <div class="user-recent-question">
            <div class="unordered-list">
                <ul>
                    <img class="user-photo" src="../public/images/profile.jpg">
                    <div class="user-photo-profyl">
                            <lI><p><span id="para">Name: </span><span> Jane Doe</span></p></lI>
                            <li><p><span id="para">Location: </span><span> Lagos</span></p></li>
                            <lI><p><span id="para">Profession: </span><span> Lawyer </span></p></lI>
                            <li><p><span id="para">Interest: </span><span> Travelling </span></p></li>
                    </div>
                </ul>
            </div>
            
        </div>
            
            
        </div>
        
        <div class="user-popular-questions-cont">
            <h2 class="profile-container__h2">Your votes</h2>
            
            <div class="user-popular-question">
                    <div class="unordered-list-profyl">
                            <ul>
                                    <lI><a href="logged.html">Presidency</a> - <a href="parties.html">APGA</a> - Donald Duke</lI><br>
                                    <lI><a href="logged.html">Governorship(Lagos)</a> - <a href="parties.html">APC</a> - Ifechukwu Ozoemena</lI><br>
                                    <lI><a href="logged.html">House of Reps</a> - <a href="parties.html">APC</a> - Maduka Emmanuel</lI><br>
                                    <lI><a href="logged.html">L.G.A</a> - <a href="parties.html">APGA</a> - Chinenye Emmanuel</lI><br>
                            </ul>
                    </div>
           
            </div>
        </div>
    </div>
            
            <div id="footers">
                &copy; Copyright 2019
            </div>
        <script src="../public/js/toggle.js"></script>
</body>
</html>