<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login - Politico</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>

<body>
   <header class="header">
      <div class="header-links" id="header__div">
        <a class="header_link header-logo" href="../index.html">Politico</a>
        <span class="header-right">
          <a class="header__link" href="../index.html">HOME</a>
          <a class="header__link" href="signup.html">SIGNUP</a>
          <a class="header__link" href="signin.html">LOGIN</a>
          <a href="javascript:void(0);" onclick="toggleMenu()" class="header__menu-icon">&#9776;</a>
        </span>
      </div>
  </header>
    
    
    <form class="login-form-admin" action="signin.html" method="POST">
    
        <h2 id="reset"> Reset Password </h2>
        <div>
            <label for="uname">Type in your email address here:</label>
            <input class="form-input" type="text" placeholder="email address" name="uname" required>

            <button class="form-butt" type="submit">submit</button>
        </div>

    </form>
        
</body>
</html>