<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Signup - Politico</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>

<body class="naija">
   <header class="header">
      <div class="header-links" id="header__div">
        <a class="header_link header-logo" href="../index.html"><span id="politico">POLITICO</span></a>
        <span class="header-right">
          <a class="header__link" href="../index.html">Home</a>
          <a class="header__link" href="signin.html">Signin</a>
        </span>
      </div>
  </header><br><br>
           <br><br>
    
    <div>
        <form class="signup-form">
            <div id="sign_div">
                    <h2 class="form-h2">SIGN UP</h2>

                <div id="sign_div">    
                    <label id="label" for="fname">Firstname</label>
                    <input class="form-input1" type="text" placeholder="Kingsley" name="fname">
                </div><br>

                <div id="sign_div">
                    <label id="label" for="lname">Lastname</label>
                    <input class="form-input2" type="text" placeholder="Obioha" name="lname">
                </div><br>

                <div id="sign_div">
                    <label id="label" for="Oname">Othernames</label>
                    <input class="form-input3" type="text" placeholder="Perfect" name="Oname">
                </div><br>

                <div id="sign_div">
                    <label id="label" for="email">Email</label>
                    <input class="form-input4" type="email" placeholder="you@gmail.com" name="lname">
                </div><br>

                <div id="sign_div">
                    <label id="label" for="Pname">Phonenumber</label>
                    <input class="form-input5" type="text" placeholder="+234123456789012" name="lname">
                </div><br>

                <div id="sign_div">
                    <label id="label" for="uname">Username</label>
                    <input class="form-input6" type="text" placeholder="Enter Username" name="uname">
                </div><br>

                <div id="sign_div">
                    <label id="label" for="psw">Password</label>
                    <input class="form-input7" type="password" placeholder="Enter Password" name="psw">
                </div><br>

                <div id="sign_div">
                    <label id="label" for="c-psw">Confirm Password</label>
                    <input class="form-input8" type="password" placeholder="Confirm Password" name="c-psw">
                </div><br>

                <div id="sign_div">
                    <button class="form-button" type="submit">Signup</button>
                </div>
                    <hr>
                            <div id="fgt">
                                <span>Already signed up?</span> <a href="signin.html">signin</a>
                            </div><br>
             </div>        
        </form>
    </div>    
    
</body>
</html>