<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>signup - Politico</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">

</head>

<body class="naija">
   <header class="header">
      <div class="header-links" id="header__div">
        <a class="header_link header-logo" href="../index.html"><span id="politico">Politico</span></a>
        <span class="header-right">
          <a class="header__link" href="../index.html">HOME</a>
          <a class="header__link" href="signin.html">LOGIN</a>
          <a href="javascript:void(0);" onclick="toggleMenu()" class="header__menu-icon">&#9776;</a>
        </span>
      </div>
  </header>


    <div id="signup-div">
        <div  class="signup-form">
            <form id="signup">


                    <div>

                        <h2 class="form-text-header">Create an account</h2>

                        <p class="form-text">Already have an account? <a href="signin.html">Login instead!</a></p><br>

                        <input class="form-input" type="text" id="firstname" placeholder="Firstname" name="fname">
                        <div id="error-fname"></div>
                        <input class="form-input" type="text" id="lastname" placeholder="Lastname" name="lname">
                        <div id="error-lname"></div>
                        <input class="form-input" type="text" id="email" placeholder="Email" name="ename">
                        <div id="error-ename"></div>
                        <input class="form-input" type="text" id="phonenumber" placeholder="Phonenumber" name="pname">
                        <div id="error-pname"></div>
                        <input class="form-input" type="password" id="password" placeholder="Password" name="psw">
                        <div id="error-psw"></div>
                        <input class="form-input" type="password" id="cpassword" placeholder="Confirm Password" name="psw">
                        <div id="error-cpsw"></div>
                        
                    </div>
                </form>
                <a href="logged.html"><button class="form-button" type="submit">Create account</button></a>
                    <div class="account">
                        <p>By creating an account, you have agreed to our Terms & Conditions</p>  
                </div>
            </div>

    </div>    
    <script src="../public/js/toggle.js"></script>
</body>
</html> 