<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>signin - Politico</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>

<body>
   <header class="header">
      <div class="header-links" id="header__div">
        <a class="header_link header-logo" href="../index.html">Politico</a>
        <span class="header-right">
          <a class="header__link" href="../index.html">HOME</a>
          <a class="header__link" href="signup.html">SIGN UP</a>
          <a href="javascript:void(0);" onclick="toggleMenu()" class="header__menu-icon">&#9776;</a>
        </span>
      </div>
  </header>

  <div id="signin-div">
     <div  class="login-form"> 
        <form id="signin">


            <div>
                <h2 class="form-text-header"> SIGN IN </h2>

                <label for="uname">Email</label>
                <input class="form-input" type="text" id="email" placeholder="Enter email" name="uname">
                <div id="error-email"></div><br>
                <label for="psw">Password</label>
                <input class="form-input" type="password" id="password" placeholder="Enter Password" name="psw">
                <div id="error-password"></div>
                
            </div>
        </form>
        <a href="logged.html"><button class="form-button" type="submit">Login</button></a>
        <div class="account">
            <span>Don't have an account?</span> <a id="kaks" href="signup.html">signup</a>   
        </div>
        <hr>
        <div class="account">
            <a id="kaks" href="reset_password.html">forgot password?</a>   
        </div>
    </div>
  </div>

  <script src="../public/js/toggle.js"></script> 
</body>
</html> 