<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>vote - Politico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
    
<body id="body">
        <header class="header2">
                <div class="header-links" id="header__div">
                  <a class="header_link header-logo" href="logged.html"><span id="politico">Politico</span></a>
                  <span class="header-right">
                    <a class="header__link" href="logged.html">HOME</a>
                    <a class="header__link" href="profile.html">PROFILE</a>
                    <a class="header__link" href="../index.html">LOGOUT</a>
                    <a href="javascript:void(0);" onclick="toggleMenu()" class="header__menu-icon">&#9776;</a>
                  </span>
                </div>
        </header>
    
        <h2 class="tytle">Presidency</h2>
        <div class="profile-ka-container">
                <div class="user-recent-question-container">
                    <div class="user-recent-question">
                    <div class="unordered-list">
                        <img src="../public/images/apga.jpg" class="party_logo-1">
                        <ul>
                            <lI id="tytle_b">APGA</lI><br>
                            <lI>Donald Duke</lI><br>
                            <lI><button class="form-d" type="submit">Vote</button></span></lI>
                        </ul>
                    </div>
                    
                </div>
                    
                    
                </div>
                
                <div class="user-recent-question-container">
                    
                    <div class="user-recent-question">
                            <div class="unordered-list">
                                <img src="../public/images/ann.jpg" class="party_logo-2">
                                    <ul>
                                            <lI id="tytle_b">ANN</lI><br>
                                            <lI>Fela Durotoye</lI><br>
                                            <lI><button class="form-d" type="submit">Vote</button></lI>
                                        </ul>
                                </div>
                   
                </div>
                </div>

                <div class="user-recent-question-container">
                        <div class="user-recent-question">
                        <div class="unordered-list">
                                <img src="../public/images/apc.png" class="party_logo-3">
                                <ul>
                                        <lI id="tytle_b">APC</lI><br>
                                        <lI>Muhammadu Buhari</lI><br>
                                        <lI><button class="form-d" type="submit">vote</button</lI>
                                    </ul>
                        </div>
                        
                    </div>
                        
                        
                    </div>
                    
                    <div class="user-recent-question-container">
                        
                        <div class="user-recent-question">
                                <div class="unordered-list">
                                        <img src="../public/images/pdp.jpg" class="party_logo-4">
                                        <ul>
                                                <lI id="tytle_b">PDP</lI><br>
                                                <lI>Atiku Abubakar</lI><br>
                                                <lI><button class="form-d" type="submit">Vote</button></lI>
                                            </ul>
                                    </div>
                       
                    </div>
                    </div>
            </div>

            <h2 class="tytle_a">Governorship - Lagos state</h2>
            <div class="profile-a-container">
                    <div class="user-recent-question-container">
                        <div class="user-recent-question">
                        <div class="unordered-list">
                                <img src="../public/images/apga.jpg" class="party_logo-1">
                                <ul>
                                        <lI id="tytle_b">APGA</lI><br>
                                        <lI>Eric Maduka</lI><br>
                                        <lI><button class="form-d" type="submit">Vote</button></lI>
                                    </ul>
                        </div>
                        
                    </div>
                        
                        
                    </div>
                    
                    <div class="user-recent-question-container">
                        
                        <div class="user-recent-question">
                                <div class="unordered-list">
                                        <img src="../public/images/ann.jpg" class="party_logo-2">
                                        <ul>
                                                <lI id="tytle_b">ANN</lI><br>
                                                <lI>Mark Felix</lI><br>
                                                <lI><button class="form-d" type="submit">Vote</button></lI>
                                            </ul>
                                    </div>
                       
                    </div>
                    </div>
    
                    <div class="user-recent-question-container">
                            <div class="user-recent-question">
                            <div class="unordered-list">
                                    <img src="../public/images/apc.png" class="party_logo-3">
                                    <ul>
                                            <lI id="tytle_b">APC</lI><br>
                                            <lI>Victor Ezenwa</lI><br>
                                            <lI><button class="form-d" type="submit">Vote</button></lI>
                                        </ul>
                            </div>
                            
                        </div>
                            
                            
                        </div>
                        
                        <div class="user-recent-question-container">
                            
                            <div class="user-recent-question">
                                    <div class="unordered-list">
                                            <img src="../public/images/pdp.jpg" class="party_logo-4">
                                            <ul>
                                                    <lI id="tytle_b">PDP</lI><br>
                                                    <lI>Donald Nwaeze</lI><br>
                                                    <lI><button class="form-d" type="submit">Vote</button></lI>
                                                </ul>
                                        </div>
                           
                        </div>
                        </div>
                </div>

                <div>
                <h2 class="tytle_a">House of Assembly - Lagos state</h2>
                <div class="profile-a-container">
                        <div class="user-recent-question-container">
                            <div class="user-recent-question">
                            <div class="unordered-list">
                                <img src="../public/images/apga.jpg" class="party_logo-1">
                                    <ul>
                                            <lI id="tytle_b">APGA</lI><br>
                                            <lI>Kevin Chisom</lI><br>
                                            <lI><button class="form-d" type="submit">Vote</button></lI>
                                        </ul>
                            </div>
                            
                        </div>
                            
                            
                        </div>
                        
                        <div class="user-recent-question-container">
                            
                            <div class="user-recent-question">
                                    <div class="unordered-list">
                                            <img src="../public/images/ann.jpg" class="party_logo-2">
                                            <ul>
                                                    <lI id="tytle_b">ANN</lI><br>
                                                    <lI>Oluwole Olamide</lI><br>
                                                    <lI><button class="form-d" type="submit">Vote</button></lI>
                                                </ul>
                                        </div>
                           
                        </div>
                        </div>
        
                        <div class="user-recent-question-container">
                                <div class="user-recent-question">
                                <div class="unordered-list">
                                        <img src="../public/images/apc.png" class="party_logo-3">
                                        <ul>
                                                <lI id="tytle_b">APC</lI><br>
                                                <lI>Ayomide Oseni</lI><br>
                                                <lI><button class="form-d" type="submit">Vote</button></lI>
                                            </ul>
                                </div>
                                
                            </div>
                                
                                
                            </div>
                            
                            <div class="user-recent-question-container">
                                
                                <div class="user-recent-question">
                                        <div class="unordered-list">
                                                <img src="../public/images/pdp.jpg" class="party_logo-4">  
                                                <ul>
                                                        <lI id="tytle_b">PDP</lI><br>
                                                        <lI>Rita Iba</lI><br>
                                                        <lI><button class="form-d" type="submit">Vote</button></lI>
                                                    </ul>
                                            </div>
                               
                            </div>
                            </div>
                    </div>
                </div>

                <div>
                    <h2 class="tytle_a">L.G.A - Amuwo Odofin</h2>
                    <div class="profile-a-container">
                            <div class="user-recent-question-container">
                                <div class="user-recent-question">
                                <div class="unordered-list">
                                        <img src="../public/images/apga.jpg" class="party_logo-1">
                                        <ul>
                                                <lI id="tytle_b">APGA</lI><br>
                                                <lI>Felicia Ona</lI><br>
                                                <lI><button class="form-d" type="submit">Vote</button></lI>
                                            </ul>
                                </div>
                                
                            </div>
                                
                                
                            </div>
                            
                            <div class="user-recent-question-container">
                                
                                <div class="user-recent-question">
                                        <div class="unordered-list">
                                                <img src="../public/images/ann.jpg" class="party_logo-2">
                                                <ul>
                                                        <lI id="tytle_b">ANN</lI><br>
                                                        <lI>Michael Hunter</lI><br>
                                                        <lI><button class="form-d" type="submit">Vote</button></lI>
                                                    </ul>
                                            </div>
                               
                            </div>
                            </div>
            
                            <div class="user-recent-question-container">
                                    <div class="user-recent-question">
                                    <div class="unordered-list">
                                            <img src="../public/images/apc.png" class="party_logo-3">
                                            <ul>
                                                    <lI id="tytle_b">APC</lI><br>
                                                    <lI>Jane Nwaka</lI><br>
                                                    <lI><button class="form-d" type="submit">Vote</button></lI>
                                                </ul>
                                    </div>
                                    
                                </div>
                                    
                                    
                                </div>
                                
                                <div class="user-recent-question-container">
                                    
                                    <div class="user-recent-question">
                                            <div class="unordered-list">
                                                    <img src="../public/images/pdp.jpg" class="party_logo-4">
                                                    <ul>
                                                            <lI id="tytle_b">PDP</lI><br>
                                                            <lI>Matthew Olawale</lI><br>
                                                            <lI><button class="form-d" type="submit">Vote</button></lI>
                                                        </ul>
                                                </div>
                                   
                                </div>
                                </div>
                        </div>
                    </div>

                    <div class="form-but">
                        <a href="profile.html"><button class="form-button-vote" type="submit">Submit</button></a>
                    </div>
            
    <div id="footer_logged">
            &copy; Copyright 2019
    </div>

<script src="../public/js/toggle.js"></script>
</body>
</html>